<XamlRoot>
  <!-- <StackPanel>
    <ScrollBar Orientation="Horizontal" Width="300px" [ScrollSize]="500" [ViewportSize]="100" [Value]="200" HorizontalAlignment="Left"/>
    <ScrollBar Orientation="Vertical" Height="300px" [ScrollSize]="500" [ViewportSize]="100" HorizontalAlignment="Left"/>
  </StackPanel> -->
  <ScrollViewer HorizontalScrollMode="Disabled">
    <StackPanel>
      <CheckBox>test</CheckBox>
      <RadioButton>test</RadioButton>
      <Slider />
      <ToggleSwitch>test</ToggleSwitch>
      <TextBox Text="test" />
      <Button>Test
        <Flyout Placement="Bottom" #ButtonFlyout>test</Flyout>
      </Button>
      <DropDownButton>Test
        <MenuFlyout Placement="Top" #ButtonFlyout>
          <MenuFlyoutItem Text="Share" Icon="&#xE72D;" />
          <MenuFlyoutItem Text="Copy" />
          <MenuFlyoutSeparator />
          <MenuFlyoutItem Text="Delete" [IsEnabled]="false" />
        </MenuFlyout>
      </DropDownButton>
      <DropDownButton [IsEnabled]="false">Test
        <MenuFlyout Placement="Top" #ButtonFlyout>
          <MenuFlyoutItem Text="Share" Icon="&#xE72D;" />
          <MenuFlyoutItem Text="Copy" />
          <MenuFlyoutSeparator />
          <MenuFlyoutItem Text="Delete" [IsEnabled]="false" />
        </MenuFlyout>
      </DropDownButton>
      <ListView [ItemSource]="[1,2,3,4,5]">
        <ng-template let-item>
          {{item}}
          <MenuFlyout ContextFlyout>
            <MenuFlyoutItem Text="Share" Icon="&#xE72D;" />
            <MenuFlyoutItem Text="Copy" />
          </MenuFlyout>
        </ng-template>
      </ListView>
      <ListBox [ItemSource]="[1,2,3,4,5]" [IsEnabled]="false" />
      <ListView [ItemSource]="[1,2,3,4,5]" [IsEnabled]="false" />
      <ToggleButton>Test</ToggleButton>
      <ToggleButton [IsEnabled]="false" [IsChecked]="true">Test</ToggleButton>
      <ToggleButton [IsEnabled]="false">Test</ToggleButton>
      <ComboBox [ItemSource]="[1,2,3,4,5]" Margin="12px" />
      <ComboBox [ItemSource]="[1,2,3,4,5]" Margin="12px" [IsEnabled]="false" />

    </StackPanel>
  </ScrollViewer>
</XamlRoot>