<XamlRoot>
  <ScrollViewer>
    <StackPanel>
      <Slider [StepFrequency]="0.01" [Value]="0.5" />
      <RadioButtonGroup (ValueChange)="onValueChange($event)">
        <RadioToggleButton>A</RadioToggleButton>
        <RadioToggleButton>B</RadioToggleButton>
        <RadioToggleButton>C
          <MenuFlyout ContextFlyout>
            <MenuFlyoutItem Text="test A" Icon="&#xE713;" />
            <MenuFlyoutItem Text="test B" Icon="&#xE714;"/>
          </MenuFlyout>
        </RadioToggleButton>
        <RadioToggleButton>D</RadioToggleButton>
      </RadioButtonGroup>
      <ComboBox [ItemSource]="[1,2,3,4,5,6]" [SelectedValue]="1" Margin="12px"/>
      <TextBox PlaceholderText="test" Margin="6px" />
      <Button Margin="6px 120px">Flyout
        <!-- <Flyout>
        test
      </Flyout> -->
        <Flyout Placement="Left">
          Test
        </Flyout>
      </Button>
      <!-- <Popup2>
      this is a {{title}} popup!
    </Popup2> -->
      <Button Class="InlineButtonStyle" Margin="3px">Click here</Button>
      <NumberBox [Minimum]="-100" [Maximum]="100" Margin="6px" Unit="kg" [IsPlaceholderEditable]="true"
        PlaceholderText="55" />
      <RepeatButton (Click)="onClick()" Class="InlineButtonStyle">Click and hold</RepeatButton>
      <CommandBar VerticalAlignment="Top">
        <AppBarButton Icon="&#xE704;" Text="Wi-Fi" />
        <AppBarButton Icon="&#xE708;" Text="Moon phase" />
        <AppBarButton Icon="&#xE719;" Text="Shop" [IsEnabled]="false" />
      </CommandBar>
      <ColorPicker Width="200px" Height="200px" (ColorChange)="onColorSelected($event)" />

      <p>ListView with grid with context menu</p>
      <ListView [ItemSource]="[1,2,3,4,5,6]" SelectedValuePath="1" MaxHeight="300px">
        <ng-template let-item>
          <Grid RowDefinitions="auto" ColumnDefinitions="auto 1fr" RowSpacing="6px" ColumnSpacing="12px">
            <TextBlock [Text]="item" />
            <TextBlock [Text]="item" Class="DetailTextBlockStyle" FontStyle="Italic" />
          </Grid>
          <MenuFlyout ItemFlyout >
            <MenuFlyoutItem Text="test {{item}}" Icon="&#xE713;" />
            <MenuFlyoutItem Text="test B" Icon="&#xE714;" />
          </MenuFlyout>
        </ng-template>
      </ListView>

    </StackPanel>
  </ScrollViewer>
</XamlRoot>