<XamlRoot>

  <ScrollViewer HorizontalScrollMode="Disabled" Height="300px">
    <TextBlock Text="Test 3:" FontFamily="Consolas" FontSize="24pt" FontStyle="Italic" FontWeight="Bold"
      Foreground="Green" TextAlignment="Center" IsTextSelectionEnabled="True" TextDecorations="Underline" />

    <TextBlock Width="50px" TextTrimming="CharacterEllipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
      in culpa qui officia deserunt mollit anim id est laborum.</TextBlock>

    <Grid ColumnDefinitions="1fr 1fr" RowDefinitions="1fr 1fr" Orientation="Horizontal" RowSpacing="5px"
      Background="Aqua">
      <Border [Grid]="{Row: 0, Column:0, RowSpan: 2}" Background="Red">1</Border>
      <Border [Grid]="{Row: 1, Column:1}" Background="Green">2</Border>
    </Grid>

    Test 2:

    <Border Width="300px" Height="300px" Background="aqua" CornerRadius="6px">
      <div class="container">
        <div class="test">
          test
        </div>
      </div>
    </Border>

    Test 1:

    <Border Width="300px" Height="300px" Background="Aqua" CornerRadius="6px" BorderThickness="2px">

      <StackPanel Orientation="Horizontal" Background="Red" HorizontalAlignment="Center" VerticalAlignment="Bottom"
        Width="200px" Margin="6px 12px" Padding="3px" BorderThickness="5px" BorderBrush="Green" Spacing="12px">
        <Border Background="Aqua">
          test A
        </Border>
        <Border Background="Yellow">
          test B
        </Border>
      </StackPanel>

    </Border>
  </ScrollViewer>
</XamlRoot>