:host {
  width: 100vw;
  height: 100vh;
  display: grid;
}

.container {
  background: beige;
  display: grid;
}

.test {
  background: red;
  justify-self: right;
  align-self: stretch;
  border-color: blue;
  border-width: 10px;
  border-style: solid;
}