<XamlRoot>

  <ScrollViewer HorizontalScrollMode="Disabled">
    <TextBlock Text="Test 3:" FontFamily="Consolas" FontSize="24pt" FontStyle="Italic" FontWeight="Bold"
      Foreground="Green" TextAlignment="Center" IsTextSelectionEnabled="True" TextDecorations="Underline" />

    <TextBlock Width="50px" TextTrimming="CharacterEllipsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
      in culpa qui officia deserunt mollit anim id est laborum.</TextBlock>

    <Slider />
    <Slider Orientation="Vertical" />

    <StackPanel Orientation="Vertical" Spacing="3px" Padding="3px">
      <ToggleSwitch>Switch me on!</ToggleSwitch>
      <ToggleSwitch [IsChecked]="false" [IsEnabled]="false">Switch me on!</ToggleSwitch>
      <ToggleSwitch [IsChecked]="true" [IsEnabled]="false">Switch me on!</ToggleSwitch>
    </StackPanel>

    <Button Margin="3px" ToolTipService-ToolTip="This is a tooltip!">
      Click me!
    </Button>

    <Button Margin="3px" HorizontalAlignment="Center">
      This triggers a flyout!
      <Flyout Slot="Flyout" PlacementMode="Bottom">
        <TextBlock Width="300px" TextWrapping="Wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt
          in culpa qui officia deserunt mollit anim id est laborum.
        </TextBlock>
      </Flyout>
    </Button>

    <ToggleButton Margin="3px" [IsChecked]="false">
      Check this!
    </ToggleButton>

    <ToggleButton Margin="3px">
      <FontIcon Glyph="&#xED5F;" FontSize="22pt" />
    </ToggleButton>

    <CheckBox Margin="3px" [IsChecked]="false" [IsEnabled]="false">Test a</CheckBox>
    <CheckBox Margin="3px" [IsChecked]="true" [IsEnabled]="false">Test b</CheckBox>
    <CheckBox Margin="3px" [IsChecked]="true">Test c</CheckBox>
    <CheckBox Margin="3px">Test d</CheckBox>

    <TextBlock Text="Group A" />
    <RadioButtonGroup Spacing="3px" Padding="3px" (ValueChange)="onRadioButtonChange($event)">
      <RadioButton [IsChecked]="false" [IsEnabled]="false">Test a</RadioButton>
      <RadioButton [IsChecked]="true" [IsEnabled]="false">Test b</RadioButton>
      <RadioButton>Test c</RadioButton>
      <RadioButton>Test d</RadioButton>
    </RadioButtonGroup>

    <TextBlock Text="Group B" />
    <RadioButtonGroup Spacing="3px" Padding="3px" Value="B" (ValueChange)="onRadioButtonChange($event)">
      <RadioButton Value="A">Test a</RadioButton>
      <RadioButton Value="B">Test b</RadioButton>
      <RadioButton Value="C">Test c</RadioButton>
    </RadioButtonGroup>

    <Grid ColumnDefinitions="1fr 1fr" RowDefinitions="1fr 1fr" Orientation="Horizontal" RowSpacing="5px"
      Background="Aqua">
      <Border Grid-Row="0" Grid-Column="0" Background="Red">1</Border>
      <Border [Grid]="{Row: 1, Column:1}" Background="Green">2</Border>
    </Grid>

    Test 2:

    <Border Width="300px" Height="300px" Background="aqua" CornerRadius="6px">
      <div class="container">
        <div class="test">
          test
        </div>
      </div>
    </Border>

    Test 1:

    <Border Width="300px" Height="300px" Background="Aqua" CornerRadius="6px" BorderThickness="2px">

      <StackPanel Orientation="Horizontal" Background="Magenta" HorizontalAlignment="Center" VerticalAlignment="Bottom"
        Width="200px" Margin="6px 12px" Padding="3px" BorderThickness="5px" BorderBrush="Green" Spacing="12px">
        <Border Background="Aqua">
          test A
        </Border>
        <Border Background="Yellow">
          test B
        </Border>
      </StackPanel>

    </Border>
  </ScrollViewer>
</XamlRoot>