/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.root {
  display: grid;
  height: 100vh;
  width: 100vw;
}