/*accent +3: #FF99EBFF
  accent +2: #FF4CC2FF
  accent +1: #FF0091F8
  accent: #FF0078D4
  accent -1: #FF0067C0
  accent -2: #FF003E92
  accent -3: #FF001A68*/

:root {
  /*Invariant variables*/
  --ControlBorderThickness: 1px;
  --ControlCornerRadius: 4px;
  --OverlayCornerRadius: 8px;
  --AcrylicBlur: blur(12px);

  --SymbolFontFamily: 'Segoe Fluent Icons', 'Segoe MDL2 Assets';
  --SystemAccentColor: #0078d4;
  
  --ControlNormalAnimationDuration: 0.25s;
  --ControlFastAnimationDuration: 0.167s;
  --ControlFasterAnimationDuration: 0.083s;

  /*Dark mode*/
  --ControlFillColorDefault: #FFFFFF0F;
  --ControlFillColorSecondary: #FFFFFF15;
  --ControlFillColorTertiary: #FFFFFF08;
  --ControlFillColorDisabled: #FFFFFF0B;
  --ControlFillColorInputActive: #1E1E1EB3;

  --ControlSolidFillColorDefault: #454545FF;

  --ControlAltFillColorSecondary: #00000019;
  --ControlAltFillColorTertiary: #FFFFFF0B;
  --ControlAltFillColorQuarternary: #FFFFFF12;
  --ControlAltFillColorDisabled: #FFFFFF00;

  --ControlStrongFillColorDefault: #FFFFFF8B;
  --ControlStrongFillColorDisabled: #FFFFFF3F;

  --ControlFillColorTransparent: #FFFFFF00;
  --SubtleFillColorTransparent: #FFFFFF00;
  --SubtleFillColorSecondary: #FFFFFF0F;
  --SubtleFillColorTertiary: #FFFFFF0A;
  
  --AccentFillColorDefault: #4CC2FFFF; /*+2*/
  --AccentFillColorSecondary: #4CC2FFE6; /*+2 90%*/
  --AccentFillColorTertiary: #4CC2FFCC; /*+2 80%*/
  --AccentFillColorDisabled: #FFFFFF28;

  --SystemControlHighlightListAccentLow: #0078D499; /*accent 60%*/
  --SystemControlHighlightListAccentMedium: #0078D4CC; /*accent 80%*/
  --SystemControlHighlightListAccentHigh: #0078D4E6; /*accent 90%*/

  --ControlStrokeColorDefault: #FFFFFF12;
  --ControlStrongStrokeColorDefault: #FFFFFF8B;
  --ControlStrongStrokeColorDisabled: #FFFFFF28;
  --ControlStrokeColorOnAccentDefault: #FFFFFF14;

  --TextFillColorPrimary: #FFFFFFFF;
  --TextFillColorSecondary: #FFFFFFC5;
  --TextFillColorDisabled: #FFFFFF5D;

  --TextOnAccentFillColorPrimary: #000000;
  --TextOnAccentFillColorSecondary: #00000080;
  --TextOnAccentFillColorDisabled: #FFFFFF87;

  --SurfaceStrokeColorFlyout: #00000033;
  --AcrylicInAppFillColorDefault: #2C2C2C26; /*15%*/
  --SystemChromeMediumLowColor: #2B2B2BFF;

  --DividerStrokeColorDefault: #FFFFFF15;

  @media (prefers-color-scheme: light) {

    --ControlFillColorDefault: #FFFFFFB3;
    --ControlFillColorSecondary: #F9F9F980;
    --ControlFillColorTertiary: #F9F9F94D;
    --ControlFillColorDisabled: #F9F9F94D;
    --ControlFillColorInputActive: #FFFFFF;

    --ControlSolidFillColorDefault: #FFFFFFFF;

    --ControlAltFillColorSecondary: #00000006;
    --ControlAltFillColorTertiary: #0000000F;
    --ControlAltFillColorQuarternary: #00000018;
    --ControlAltFillColorDisabled: #FFFFFF00;

    --ControlStrongFillColorDefault: #00000072;
    --ControlStrongFillColorDisabled: #00000051;

    --ControlFillColorTransparent: #FFFFFF00;
    --SubtleFillColorTransparent: #FFFFFF00;
    --SubtleFillColorSecondary: #00000009;
    --SubtleFillColorTertiary: #00000006;

    --AccentFillColorDefault: #0067C0FF; /*-1*/
    --AccentFillColorSecondary: #0067C0E6; /*-1 90%*/
    --AccentFillColorTertiary: #0067C0CC; /*-1 80%*/
    --AccentFillColorDisabled: #FFFFFF37;

    --SystemControlHighlightListAccentLow: #0078D466; /*accent 40%*/
    --SystemControlHighlightListAccentMedium: #0078D499; /*accent 60%*/
    --SystemControlHighlightListAccentHigh: #0078D4B3; /*accent 70%*/

    --ControlStrokeColorDefault: #0000000F;
    --ControlStrongStrokeColorDefault: #00000072;
    --ControlStrongStrokeColorDisabled: #00000037;
    --ControlStrokeColorOnAccentDefault: #FFFFFF14;

    --TextFillColorPrimary: #000000E4;
    --TextFillColorSecondary: #0000009E;
    --TextFillColorDisabled: #0000005C;

    --TextOnAccentFillColorPrimary: #FFFFFF;
    --TextOnAccentFillColorSecondary: #FFFFFFB3;
    --TextOnAccentFillColorDisabled: #FFFFFF;

    --SurfaceStrokeColorFlyout: #0000000F;
    --AcrylicInAppFillColorDefault: #FCFCFC26; /*15%*/
    --SystemChromeMediumLowColor: #F2F2F2FF;

    --DividerStrokeColorDefault: #0000000F;
  }
}

.cdk-overlay-dark-backdrop {
  background: transparent !important;
}

.cdk-overlay-pane {
  display: grid !important;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 10pt;
  color: var(--TextFillColorPrimary);
}