/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  user-select: none;
  scrollbar-width: none;
}

// * {
//   -ms-overflow-style: none; /* for Internet Explorer, Edge */
//   scrollbar-width: none; /* for Firefox */
//   //overflow-y: scroll; 
// }

// ::-webkit-scrollbar {
//   display: none; /* for Chrome, Safari, and Opera */
// }

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f3f3f3;
  
  @media (prefers-color-scheme: dark) {
    background-color: #202020;
  }
}
 
::-webkit-scrollbar-thumb {
  background-color: #7A7A7AFF;
  
  @media (prefers-color-scheme: dark) {
    background-color: #858585FF; 
  }

  &:hover {
    background-color: #00000066;

    @media (prefers-color-scheme: dark) {
      background-color: #FFFFFF66;
    }    
  }

  &:active {
    background-color: #00000099;

    @media (prefers-color-scheme: dark) {
      background-color: #FFFFFF99;
    }    
  }
}