$ControlCornerRadius: 4px;

$ControlFillColorDefaultLight: #FFFFFFB3;
$ControlFillColorSecondaryLight: #F9F9F980;
$ControlFillColorTertiaryLight: #F9F9F94D;
$ControlFillColorDisabledLight: #F9F9F94D;

$ControlStrokeColorDefaultLight: #0000000F;

$TextFillColorPrimaryLight: #000000E4;
$TextFillColorSecondaryLight: #0000009E;
$TextFillColorDisabledLight: #0000005C;

$ControlFillColorDefaultDark: #FFFFFF0F;
$ControlFillColorSecondaryDark: #FFFFFF15;
$ControlFillColorTertiaryDark: #FFFFFF08;
$ControlFillColorDisabledDark: #FFFFFF0B;

$ControlStrokeColorDefaultDark: #FFFFFF12;

$TextFillColorPrimaryDark: #FFFFFFFF;
$TextFillColorSecondaryDark: #FFFFFFC5;
$TextFillColorDisabledDark: #FFFFFF5D;