$ControlBorderThickness: 1px;
$ControlCornerRadius: 4px;
$ControlNormalAnimationDuration: 0.25s;
$ControlFastAnimationDuration: 0.167s;
$ControlFasterAnimationDuration: 0.083s;

$ControlFillColorDefaultLight: #FFFFFFB3;
$ControlFillColorSecondaryLight: #F9F9F980;
$ControlFillColorTertiaryLight: #F9F9F94D;
$ControlFillColorDisabledLight: #F9F9F94D;

$ControlSolidFillColorDefaultLight: #FFFFFFFF;

$ControlAltFillColorSecondaryLight: #00000006;
$ControlAltFillColorTertiaryLight: #0000000F;
$ControlAltFillColorQuarternaryLight: #00000018;
$ControlAltFillColorDisabledLight: #FFFFFF00;

$ControlStrongFillColorDefaultLight: #00000072;
$ControlStrongFillColorDisabledLight: #00000051;

$ControlFillColorTransparentLight: #FFFFFF00;
$SubtleFillColorTransparentLight: #FFFFFF00;

$AccentFillColorDefaultLight: #0067C0FF;
$AccentFillColorSecondaryLight: rgba($AccentFillColorDefaultLight, 0.9);
$AccentFillColorTertiaryLight: rgba($AccentFillColorDefaultLight, 0.8);
$AccentFillColorDisabledLight: #FFFFFF37;

$ControlStrokeColorDefaultLight: #0000000F;
$ControlStrongStrokeColorDefaultLight: #00000072;
$ControlStrongStrokeColorDisabledLight: #00000037;
$ControlStrokeColorOnAccentDefaultLight: #FFFFFF14;

$TextFillColorPrimaryLight: #000000E4;
$TextFillColorSecondaryLight: #0000009E;
$TextFillColorDisabledLight: #0000005C;

$TextOnAccentFillColorPrimaryLight: #FFFFFF;
$TextOnAccentFillColorSecondaryLight: #FFFFFFB3;
$TextOnAccentFillColorDisabledLight: #FFFFFF;

$ControlFillColorDefaultDark: #FFFFFF0F;
$ControlFillColorSecondaryDark: #FFFFFF15;
$ControlFillColorTertiaryDark: #FFFFFF08;
$ControlFillColorDisabledDark: #FFFFFF0B;

$ControlSolidFillColorDefaultDark: #454545FF;

$ControlAltFillColorSecondaryDark: #00000019;
$ControlAltFillColorTertiaryDark: #FFFFFF0B;
$ControlAltFillColorQuarternaryDark: #FFFFFF12;
$ControlAltFillColorDisabledDark: #FFFFFF00;

$ControlStrongFillColorDefaultDark: #FFFFFF8B;
$ControlStrongFillColorDisabledDark: #FFFFFF3F;

$ControlFillColorTransparentDark: #FFFFFF00;
$SubtleFillColorTransparentDark: #FFFFFF00;

$AccentFillColorDefaultDark: #4CC2FFFF;
$AccentFillColorSecondaryDark: rgba($AccentFillColorDefaultDark, 0.9);
$AccentFillColorTertiaryDark: rgba($AccentFillColorDefaultDark, 0.8);
$AccentFillColorDisabledDark: #FFFFFF28;

$ControlStrokeColorDefaultDark: #FFFFFF12;
$ControlStrongStrokeColorDefaultDark: #FFFFFF8B;
$ControlStrongStrokeColorDisabledDark: #FFFFFF28;
$ControlStrokeColorOnAccentDefaultDark: #FFFFFF14;

$TextFillColorPrimaryDark: #FFFFFFFF;
$TextFillColorSecondaryDark: #FFFFFFC5;
$TextFillColorDisabledDark: #FFFFFF5D;

$TextOnAccentFillColorPrimaryDark: #000000;
$TextOnAccentFillColorSecondaryDark: #00000080;
$TextOnAccentFillColorDisabledDark: #FFFFFF87;

$SymbolFontFamily: 'Segoe Fluent Icons', 'Segoe MDL2 Assets';